$white: #ffffff;
$dark-gray: #3a3a3a;
$text: #555555;
$text-dark: #333333;
$text-light: #dddddd;
$bluish: rgb(15, 8, 97);
$link: lighten($bluish, 5%);
$link-hover: lighten($bluish, 25%);
$primary: #486272;
$border-light: #e8e8e8;
$bg-light: #fafafa;
$black: #000000;




